<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/vars.css">
  <link rel="stylesheet" href="../static/styles/style2.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="cadastrar-projeto">
    <div class="footer">
      <div class="container">
        <div class="_2025">© 2025</div>
        <div class="menu">
          <div class="twitter">Twitter</div>
          <div class="linked-in">LinkedIn</div>
          <div class="email">Email</div>
          <div class="instagram">Instagram</div>
        </div>
      </div>
    </div>
    <div class="text-area">
      <div class="criar-projeto">
        <div class="frame-55">
          <div class="frame-53">
            <div class="frame-58">
              <div class="name">Criar Projeto</div>
            </div>
          </div>
        </div>
      </div>
      <div class="data">
        <div class="input-date-picker">
          <div class="header">
            <div class="select-date">Selecione a data de início do projeto</div>
            <div class="frame-2608512">
              <div class="week-day-day">Data Início</div>
              <div class="icon-button">
                <div class="container2">
                  <div class="state-layer">
                    <img class="icon" src="../static/images/icon0.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="date">
            <div class="text-field">
              <div class="text-field2">
                <div class="state-layer2">
                  <div class="content">
                    <div class="input-text-container">
                      <div class="input-text">mm/dd/yyyy</div>
                    </div>
                    <div class="label-text-container">
                      <div class="label-text">Data</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="local-actions">
            <div class="button-container">
              <div class="secondary-button">
                <div class="state-layer3">
                  <div class="label-text2">Cancel</div>
                </div>
              </div>
              <div class="primary-button">
                <div class="state-layer3">
                  <div class="label-text2">OK</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="professor">
        <div class="curso">Professor(es)</div>
        <div class="datalist">
          <div class="input">
            <div class="input-base">
              <div class="wrapper">
                <div class="placeholder">
                  <img class="input-cursor" src="../static/images/input-cursor0.svg" />
                  <div class="placeholder2">example</div>
                </div>
              </div>
              <div class="spacer">
                <div class="ignore"></div>
                <div class="ignore"></div>
              </div>
              <div class="input-suffix">
                <div class="icon-wrapper">
                  <div class="width-change-size-here">
                    <div class="ignore2"></div>
                    <div class="ignore2"></div>
                  </div>
                  <div class="icon-wrapper-h">
                    <div class="height-change-size-here">
                      <div class="ignore2"></div>
                      <div class="ignore2"></div>
                    </div>
                    <img class="icon-wrapper2" src="../static/images/icon-wrapper1.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="zero-height">
            <div class="dropdown-menu">
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">San Francisco</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">New York</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Seattle</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Los Angeles</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Chicago</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="min-width">
                <div class="start"></div>
                <div class="end"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="curso2">
        <div class="curso">Curso</div>
        <div class="datalist">
          <div class="input">
            <div class="input-base">
              <div class="wrapper">
                <div class="placeholder">
                  <img class="input-cursor2" src="../static/images/input-cursor1.svg" />
                  <div class="placeholder2">example</div>
                </div>
              </div>
              <div class="spacer">
                <div class="ignore"></div>
                <div class="ignore"></div>
              </div>
              <div class="input-suffix">
                <div class="icon-wrapper">
                  <div class="width-change-size-here">
                    <div class="ignore2"></div>
                    <div class="ignore2"></div>
                  </div>
                  <div class="icon-wrapper-h">
                    <div class="height-change-size-here">
                      <div class="ignore2"></div>
                      <div class="ignore2"></div>
                    </div>
                    <img class="icon-wrapper3" src="../static/images/icon-wrapper3.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="zero-height">
            <div class="dropdown-menu">
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">San Francisco</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">New York</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Seattle</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Los Angeles</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Chicago</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="min-width">
                <div class="start"></div>
                <div class="end"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-blico">
        <div class="p-blico2">Público</div>
        <div class="datalist2">
          <div class="input">
            <div class="input-base">
              <div class="wrapper">
                <div class="placeholder">
                  <img class="input-cursor3" src="../static/images/input-cursor2.svg" />
                  <div class="placeholder2">example</div>
                </div>
              </div>
              <div class="spacer">
                <div class="ignore"></div>
                <div class="ignore"></div>
              </div>
              <div class="input-suffix">
                <div class="icon-wrapper">
                  <div class="width-change-size-here">
                    <div class="ignore2"></div>
                    <div class="ignore2"></div>
                  </div>
                  <div class="icon-wrapper-h">
                    <div class="height-change-size-here">
                      <div class="ignore2"></div>
                      <div class="ignore2"></div>
                    </div>
                    <img class="icon-wrapper4" src="../static/images/icon-wrapper5.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="zero-height">
            <div class="dropdown-menu">
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">San Francisco</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">New York</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Seattle</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Los Angeles</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Chicago</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="min-width">
                <div class="start"></div>
                <div class="end"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="status">
        <div class="status2">Status</div>
        <div class="datalist3">
          <div class="input">
            <div class="input-base">
              <div class="wrapper">
                <div class="placeholder">
                  <img class="input-cursor4" src="../static/images/input-cursor3.svg" />
                  <div class="placeholder2">example</div>
                </div>
              </div>
              <div class="spacer">
                <div class="ignore"></div>
                <div class="ignore"></div>
              </div>
              <div class="input-suffix">
                <div class="icon-wrapper">
                  <div class="width-change-size-here">
                    <div class="ignore2"></div>
                    <div class="ignore2"></div>
                  </div>
                  <div class="icon-wrapper-h">
                    <div class="height-change-size-here">
                      <div class="ignore2"></div>
                      <div class="ignore2"></div>
                    </div>
                    <img class="icon-wrapper5" src="../static/images/icon-wrapper7.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="zero-height">
            <div class="dropdown-menu">
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">San Francisco</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">New York</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Seattle</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Los Angeles</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="components-dropdown-menu-item">
                <div class="wrapper2">
                  <div class="content2">
                    <div class="text">
                      <div class="text2">Chicago</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="min-width">
                <div class="start"></div>
                <div class="end"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="descri-o">
        <div class="div">Descrição</div>
        <div class="text-block">
          <div class="texto">
            <span>
              <span class="texto-span">
                Texto
                <br />
                <br />
              </span>
              <span class="texto-span2">
                <br />
                <br />
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="imagem">
        <div class="div">Ícone do Projeto (JPG, JPEG ou PNG)</div>
        <div class="dragger">
          <div class="icon2">
            <div class="width-change-size-here2">
              <div class="ignore2"></div>
              <div class="ignore2"></div>
            </div>
            <div class="icon-wrapper-h">
              <div class="height-change-size-here2">
                <div class="ignore2"></div>
                <div class="ignore2"></div>
              </div>
              <img class="icon-wrapper6" src="../static/images/icon-wrapper8.svg" />
            </div>
          </div>
          <div class="text-wrapper">
            <div class="click-or-drag-file-to-this-area-to-upload">
              Click or drag file to this area to upload
            </div>
            <div
              class="support-for-a-single-or-bulk-upload-maximum-file-size-2-mb"
            >
              Support for a single or bulk upload. Maximum file size 2MB.
            </div>
          </div>
        </div>
      </div>
      <div class="t-tulo-do-porjeto">
        <div class="div">Título do Projeto</div>
        <div class="text-block">
          <div class="texto">
            <span>
              <span class="texto-span">
                Texto
                <br />
                <br />
              </span>
              <span class="texto-span2">
                <br />
                <br />
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-1"></div>
    <div class="header2">
      <div class="navbar">
        <div class="frame-1000000809">
          <img class="bras-o-da-uneb-1" src="../static/images/bras-o-da-uneb-10.png" />
        </div>
        <div class="menu">
          <div class="search-bar">
            <div class="state-layer4">
              <div class="leading-icon">
                <div class="container2">
                  <div class="state-layer">
                    <img class="icon3" src="../static/images/icon2.svg" />
                  </div>
                </div>
              </div>
              <div class="content3">
                <div class="supporting-text">Buscar</div>
              </div>
              <div class="trailing-elements">
                <div class="_1st-trailing-icon">
                  <div class="container2">
                    <div class="state-layer">
                      <img class="icon4" src="../static/images/icon3.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog">
            <div class="not-cias">Notícias</div>
          </div>
          <div class="about">
            <div class="eventos">Eventos</div>
          </div>
          <div class="projects">
            <div class="frame-1000000804">
              <div class="projetos">Projetos</div>
            </div>
          </div>
          <div class="newsletter">
            <div class="nome">Nome</div>
            <img class="person" src="../static/images/person0.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>