<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/vars.css">
  <link rel="stylesheet" href="../static/styles/style_eventos.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="p-gina-de-eventos">
    <div class="footer">
      <div class="container">
        <div class="_2025">© 2025</div>
        <div class="menu">
          <div class="twitter">Twitter</div>
          <div class="linked-in">LinkedIn</div>
          <div class="email">Email</div>
          <div class="instagram">Instagram</div>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="container2">
        <div class="uneb-em-foco">UNEB EM FOCO</div>
      </div>
    </div>
    <div class="section">
      <div class="container3">
        <div class="heading">Lista de eventos ▼</div>
        <div class="content">
          <div class="blog-post-card">
            <img class="image" src="../static/images/image0.png" />
            <div class="content2">
              <div class="heading-and-text">
                <div class="author">Olivia Rhye • 1 Jan 2023</div>
                <div class="heading-and-icon">
                  <div class="heading2">Lorem ipsum dolor sit amet</div>
                  <div class="icon-wrap">
                    <img class="arrow-up-right" src="../static/images/arrow-up-right0.svg" />
                  </div>
                </div>
                <div class="supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
              <div class="categories">
                <div class="badge">
                  <div class="badge-base">
                    <div class="text">Projeto</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card">
            <img class="image" src="../static/images/image1.png" />
            <div class="content2">
              <div class="heading-and-text">
                <div class="author">Olivia Rhye • 1 Jan 2023</div>
                <div class="heading-and-icon">
                  <div class="heading2">Lorem ipsum dolor sit amet</div>
                  <div class="icon-wrap">
                    <img class="arrow-up-right2" src="../static/images/arrow-up-right1.svg" />
                  </div>
                </div>
                <div class="supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
              <div class="categories">
                <div class="badge">
                  <div class="badge-base">
                    <div class="text">Projeto</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content3">
          <div class="blog-post-card">
            <img class="image2" src="../static/images/image2.png" />
            <div class="content2">
              <div class="heading-and-text">
                <div class="author">Olivia Rhye • 1 Jan 2023</div>
                <div class="heading-and-icon">
                  <div class="heading2">Lorem ipsum dolor sit amet</div>
                  <div class="icon-wrap">
                    <img class="arrow-up-right3" src="../static/images/arrow-up-right2.svg" />
                  </div>
                </div>
                <div class="supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
              <div class="categories">
                <div class="badge">
                  <div class="badge-base">
                    <div class="text">Projeto</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card">
            <img class="image" src="../static/images/image3.png" />
            <div class="content2">
              <div class="heading-and-text">
                <div class="author">Olivia Rhye • 1 Jan 2023</div>
                <div class="heading-and-icon">
                  <div class="heading2">Lorem ipsum dolor sit amet</div>
                  <div class="icon-wrap">
                    <img class="arrow-up-right4" src="../static/images/arrow-up-right3.svg" />
                  </div>
                </div>
                <div class="supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
              <div class="categories">
                <div class="badge">
                  <div class="badge-base">
                    <div class="text">Projeto</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content4">
          <div class="blog-post-card">
            <img class="image" src="../static/images/image4.png" />
            <div class="content2">
              <div class="heading-and-text">
                <div class="author">Olivia Rhye • 1 Jan 2023</div>
                <div class="heading-and-icon">
                  <div class="heading2">Lorem ipsum dolor sit amet</div>
                  <div class="icon-wrap">
                    <img class="arrow-up-right5" src="../static/images/arrow-up-right4.svg" />
                  </div>
                </div>
                <div class="supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
              <div class="categories">
                <div class="badge">
                  <div class="badge-base">
                    <div class="text">Projeto</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card">
            <img class="image" src="../static/images/image5.png" />
            <div class="content2">
              <div class="heading-and-text">
                <div class="author">Olivia Rhye • 1 Jan 2023</div>
                <div class="heading-and-icon">
                  <div class="heading2">Lorem ipsum dolor sit amet</div>
                  <div class="icon-wrap">
                    <img class="arrow-up-right6" src="../static/images/arrow-up-right5.svg" />
                  </div>
                </div>
                <div class="supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
              <div class="categories">
                <div class="badge">
                  <div class="badge-base">
                    <div class="text">Projeto</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="navbar">
        <div class="frame-1000000809">
        <a href="index.html">
          <img class="bras-o-da-uneb-1" src="../static/images/bras-o-da-uneb-10.png" alt="Brasão da UNEB" />
        </a>
        </div>
        <div class="menu">
          <div class="search-bar">
            <div class="state-layer">
              <div class="leading-icon">
                <div class="container4">
                  <div class="state-layer2">
                    <img class="icon" src="../static/images/icon0.svg" />
                  </div>
                </div>
              </div>
              <div class="content5">
                <div class="supporting-text2">Buscar</div>
              </div>
              <div class="trailing-elements">
                <div class="_1st-trailing-icon">
                  <div class="container4">
                    <div class="state-layer2">
                      <img class="icon2" src="../static/images/icon1.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog">
            <a href="noticias.html" class="not-cias">Notícias</a>
          </div>
          <div class="projects">
            <a href="eventos.html" class="eventos">Eventos</a>
          </div>
          <div class="about">
            <a href="projetos.html" class="projetos">Projetos</a>
          </div>
          <div class="newsletter dropdown">
            <div class="login">Login</div>
            <img class="person" src="../static/images/person0.svg" />
            <div class="dropdown-content">
              <a href="cadastrar_projeto.html">Cadastrar Projeto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>