<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/vars.css">
  <link rel="stylesheet" href="../static/styles/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="p-gina-inicial">
    <div class="header">
      <div class="navbar">
        <div class="frame-1000000809">
          <img class="bras-o-da-uneb-1" src="../static/images/bras-o-da-uneb-10.png" />
        </div>
        <div class="menu">
          <div class="search-bar">
            <div class="state-layer">
              <div class="leading-icon">
                <div class="container">
                  <div class="state-layer2">
                    <img class="icon" src="../static/images/icon0.svg" />
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="supporting-text">Buscar</div>
              </div>
              <div class="trailing-elements">
                <div class="_1st-trailing-icon">
                  <div class="container">
                    <div class="state-layer2">
                      <img class="icon2" src="../static/images/icon1.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog">
            <div class="not-cias">Notícias</div>
          </div>
          <div class="projects">
            <div class="eventos">Eventos</div>
          </div>
          <div class="about">
            <div class="projetos">Projetos</div>
          </div>
          <div class="newsletter dropdown">
            <div class="login">Login</div>
            <img class="person" src="../static/images/person0.svg" />
            <div class="dropdown-content">
              <a href="cadastro.html">Cadastrar Projeto</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container2">
        <div class="uneb-em-foco">UNEB EM FOCO</div>
        <img class="bras-o-da-uneb-12" src="../static/images/bras-o-da-uneb-11.png" />
      </div>
    </div>
    <div class="blog2">
      <div class="section">
        <div class="container3">
          <div class="heading">Publicações recentes</div>
          <div class="content2">
            <div class="blog-post-card">
              <img class="image" src="../static/images/image0.png" />
              <div class="content3">
                <div class="heading-and-text">
                  <div class="author">Luiza Limoeiro • 1 Jan 2025</div>
                  <div class="heading-and-icon">
                    <div class="heading2">UNEB realiza encontro de formação</div>
                    <div class="icon-wrap">
                      <img class="arrow-up-right" src="../static/images/arrow-up-right0.svg" />
                    </div>
                  </div>
                  <div class="supporting-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
                <div class="categories">
                  <div class="badge">
                    <div class="badge-base">
                      <div class="text">Elas nas Exatas</div>
                    </div>
                  </div>
                  <div class="badge">
                    <div class="badge-base2">
                      <div class="text2">Evento</div>
                    </div>
                  </div>
                  <div class="badge"></div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="blog-post-card2">
                <img class="image2" src="../static/images/image1.png" />
                <div class="content4">
                  <div class="heading-and-text">
                    <div class="author">Caio Melo • 1 Jan 2025</div>
                    <div class="heading-and-text2">
                      <div class="heading3">Lorem ipsum dolor sit amet</div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                      </div>
                    </div>
                  </div>
                  <div class="categories">
                    <div class="badge">
                      <div class="badge-base3">
                        <div class="text3">ACSO</div>
                      </div>
                    </div>
                    <div class="badge">
                      <div class="badge-base4">
                        <div class="text4">Notícia</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blog-post-card2">
                <img class="image2" src="../static/images/image2.png" />
                <div class="content4">
                  <div class="heading-and-text">
                    <div class="author">Luiz Vinícius • 1 Jan 2025</div>
                    <div class="heading-and-text2">
                      <div class="heading3">Lorem ipsum dolor sit amet</div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                      </div>
                    </div>
                  </div>
                  <div class="categories">
                    <div class="badge">
                      <div class="badge-base5">
                        <div class="text5">G2BC</div>
                      </div>
                    </div>
                    <div class="badge">
                      <div class="badge-base4">
                        <div class="text4">Evento</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container3">
          <div class="content2">
            <div class="blog-post-card3">
              <img class="image3" src="../static/images/image3.png" />
              <div class="content4">
                <div class="heading-and-text">
                  <div class="author">Lorem ipsum • 1 Jan 2023</div>
                  <div class="heading-and-icon">
                    <div class="heading2">Lorem ipsum dolor sit amet</div>
                    <div class="icon-wrap">
                      <img class="arrow-up-right2" src="../static/images/arrow-up-right1.svg" />
                    </div>
                  </div>
                  <div class="supporting-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                  </div>
                </div>
                <div class="categories">
                  <div class="badge">
                    <div class="badge-base">
                      <div class="text">Projeto</div>
                    </div>
                  </div>
                  <div class="badge">
                    <div class="badge-base4">
                      <div class="text4">Tipo</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container4">
          <div class="heading-and-content">
            <div class="heading">Todas as publicações</div>
            <div class="content5">
              <div class="row">
                <div class="blog-post-card4">
                  <img class="image4" src="../static/images/image4.png" />
                  <div class="content3">
                    <div class="heading-and-text">
                      <div class="author">Alec Whitten • 1 Jan 2023</div>
                      <div class="heading-and-icon">
                        <div class="heading2">Lorem ipsum dolor sit</div>
                        <div class="icon-wrap">
                          <img
                            class="arrow-up-right3"
                            src="../static/images/arrow-up-right2.svg"
                          />
                        </div>
                      </div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                    </div>
                    <div class="categories">
                      <div class="badge">
                        <div class="badge-base">
                          <div class="text">Projeto</div>
                        </div>
                      </div>
                      <div class="badge">
                        <div class="badge-base6">
                          <div class="text6">Tipo</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-card4">
                  <img class="image4" src="../static/images/image5.png" />
                  <div class="content3">
                    <div class="heading-and-text">
                      <div class="author">Demi WIlkinson • 1 Jan 2023</div>
                      <div class="heading-and-icon">
                        <div class="heading2">Lorem ipsum dolor sit</div>
                        <div class="icon-wrap">
                          <img
                            class="arrow-up-right4"
                            src="../static/images/arrow-up-right3.svg"
                          />
                        </div>
                      </div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                    </div>
                    <div class="categories">
                      <div class="badge">
                        <div class="badge-base3">
                          <div class="text">Projeto</div>
                        </div>
                      </div>
                      <div class="badge">
                        <div class="badge-base2">
                          <div class="text6">Tipo</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-card4">
                  <img class="image4" src="../static/images/image6.png" />
                  <div class="content3">
                    <div class="heading-and-text">
                      <div class="author">Candice Wu • 1 Jan 2023</div>
                      <div class="heading-and-icon">
                        <div class="heading2">Lorem ipsum dolor sit</div>
                        <div class="icon-wrap">
                          <img
                            class="arrow-up-right5"
                            src="../static/images/arrow-up-right4.svg"
                          />
                        </div>
                      </div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                    </div>
                    <div class="categories">
                      <div class="badge">
                        <div class="badge-base">
                          <div class="text">Projeto</div>
                        </div>
                      </div>
                      <div class="badge">
                        <div class="badge-base2">
                          <div class="text6">Tipo</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="blog-post-card4">
                  <img class="image4" src="../static/images/image7.png" />
                  <div class="content3">
                    <div class="heading-and-text">
                      <div class="author">Natali Craig • 1 Jan 2023</div>
                      <div class="heading-and-icon">
                        <div class="heading2">Lorem ipsum dolor sit</div>
                        <div class="icon-wrap">
                          <img
                            class="arrow-up-right6"
                            src="../static/images/arrow-up-right5.svg"
                          />
                        </div>
                      </div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                    </div>
                    <div class="categories">
                      <div class="badge">
                        <div class="badge-base">
                          <div class="text">Projeto</div>
                        </div>
                      </div>
                      <div class="badge">
                        <div class="badge-base2">
                          <div class="text6">Tipo</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-card4">
                  <img class="image4" src="../static/images/image8.png" />
                  <div class="content3">
                    <div class="heading-and-text">
                      <div class="author">Drew Cano • 1 Jan 2023</div>
                      <div class="heading-and-icon">
                        <div class="heading2">Lorem ipsum dolor sit</div>
                        <div class="icon-wrap">
                          <img
                            class="arrow-up-right7"
                            src="../static/images/arrow-up-right6.svg"
                          />
                        </div>
                      </div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                    </div>
                    <div class="categories">
                      <div class="badge">
                        <div class="badge-base5">
                          <div class="text">Projeto</div>
                        </div>
                      </div>
                      <div class="badge">
                        <div class="badge-base4">
                          <div class="text6">Tipo</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-card4">
                  <img class="image4" src="../static/images/image9.png" />
                  <div class="content3">
                    <div class="heading-and-text">
                      <div class="author">Orlando Diggs • 1 Jan 2023</div>
                      <div class="heading-and-icon">
                        <div class="heading2">Lorem ipsum dolor sit</div>
                        <div class="icon-wrap">
                          <img
                            class="arrow-up-right8"
                            src="../static/images/arrow-up-right7.svg"
                          />
                        </div>
                      </div>
                      <div class="supporting-text2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                    </div>
                    <div class="categories">
                      <div class="badge">
                        <div class="badge-base">
                          <div class="text">Projeto</div>
                        </div>
                      </div>
                      <div class="badge">
                        <div class="badge-base6">
                          <div class="text6">Tipo</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination">
            <div class="button">
              <div class="button-base">
                <img class="arrow-left" src="../static/images/arrow-left0.svg" />
                <div class="text7">Anterior</div>
              </div>
            </div>
            <div class="pagination-numbers">
              <div class="pagination-number-base">
                <div class="content6">
                  <div class="number">1</div>
                </div>
              </div>
              <div class="pagination-number-base2">
                <div class="content6">
                  <div class="number2">2</div>
                </div>
              </div>
              <div class="pagination-number-base2">
                <div class="content6">
                  <div class="number2">3</div>
                </div>
              </div>
              <div class="pagination-number-base2">
                <div class="content6">
                  <div class="number2">...</div>
                </div>
              </div>
              <div class="pagination-number-base2">
                <div class="content6">
                  <div class="number2">8</div>
                </div>
              </div>
              <div class="pagination-number-base2">
                <div class="content6">
                  <div class="number2">9</div>
                </div>
              </div>
              <div class="pagination-number-base2">
                <div class="content6">
                  <div class="number2">10</div>
                </div>
              </div>
            </div>
            <div class="button">
              <div class="button-base">
                <div class="text7">Próxima</div>
                <img class="arrow-right" src="../static/images/arrow-right0.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container5">
        <div class="_2025">© 2025</div>
        <div class="menu">
          <div class="twitter">Twitter</div>
          <div class="linked-in">LinkedIn</div>
          <div class="email">Email</div>
          <div class="instagram">Instagram</div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>