<div class="p-gina-de-eventos">
  <div class="footer">
    <div class="container">
      <div class="_2025">© 2025</div>
      <div class="menu">
        <div class="twitter">Twitter</div>
        <div class="linked-in">LinkedIn</div>
        <div class="email">Email</div>
        <div class="instagram">Instagram</div>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="container2">
      <div class="uneb-em-foco">UNEB EM FOCO</div>
      <img class="bras-o-da-uneb-1" src="bras-o-da-uneb-10.png" />
    </div>
  </div>
  <div class="section">
    <div class="container3">
      <div class="heading">Lista de eventos ▼</div>
      <div class="content">
        <div class="blog-post-card">
          <img class="image" src="image0.png" />
          <div class="content2">
            <div class="heading-and-text">
              <div class="author">Olivia Rhye • 1 Jan 2023</div>
              <div class="heading-and-icon">
                <div class="heading2">Lorem ipsum dolor sit amet</div>
                <div class="icon-wrap">
                  <img class="arrow-up-right" src="arrow-up-right0.svg" />
                </div>
              </div>
              <div class="supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
            <div class="categories">
              <div class="badge">
                <div class="badge-base">
                  <div class="text">Projeto</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-post-card">
          <img class="image" src="image1.png" />
          <div class="content2">
            <div class="heading-and-text">
              <div class="author">Olivia Rhye • 1 Jan 2023</div>
              <div class="heading-and-icon">
                <div class="heading2">Lorem ipsum dolor sit amet</div>
                <div class="icon-wrap">
                  <img class="arrow-up-right2" src="arrow-up-right1.svg" />
                </div>
              </div>
              <div class="supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
            <div class="categories">
              <div class="badge">
                <div class="badge-base">
                  <div class="text">Projeto</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content3">
        <div class="blog-post-card">
          <img class="image2" src="image2.png" />
          <div class="content2">
            <div class="heading-and-text">
              <div class="author">Olivia Rhye • 1 Jan 2023</div>
              <div class="heading-and-icon">
                <div class="heading2">Lorem ipsum dolor sit amet</div>
                <div class="icon-wrap">
                  <img class="arrow-up-right3" src="arrow-up-right2.svg" />
                </div>
              </div>
              <div class="supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
            <div class="categories">
              <div class="badge">
                <div class="badge-base">
                  <div class="text">Projeto</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-post-card">
          <img class="image" src="image3.png" />
          <div class="content2">
            <div class="heading-and-text">
              <div class="author">Olivia Rhye • 1 Jan 2023</div>
              <div class="heading-and-icon">
                <div class="heading2">Lorem ipsum dolor sit amet</div>
                <div class="icon-wrap">
                  <img class="arrow-up-right4" src="arrow-up-right3.svg" />
                </div>
              </div>
              <div class="supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
            <div class="categories">
              <div class="badge">
                <div class="badge-base">
                  <div class="text">Projeto</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content4">
        <div class="blog-post-card">
          <img class="image" src="image4.png" />
          <div class="content2">
            <div class="heading-and-text">
              <div class="author">Olivia Rhye • 1 Jan 2023</div>
              <div class="heading-and-icon">
                <div class="heading2">Lorem ipsum dolor sit amet</div>
                <div class="icon-wrap">
                  <img class="arrow-up-right5" src="arrow-up-right4.svg" />
                </div>
              </div>
              <div class="supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
            <div class="categories">
              <div class="badge">
                <div class="badge-base">
                  <div class="text">Projeto</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-post-card">
          <img class="image" src="image5.png" />
          <div class="content2">
            <div class="heading-and-text">
              <div class="author">Olivia Rhye • 1 Jan 2023</div>
              <div class="heading-and-icon">
                <div class="heading2">Lorem ipsum dolor sit amet</div>
                <div class="icon-wrap">
                  <img class="arrow-up-right6" src="arrow-up-right5.svg" />
                </div>
              </div>
              <div class="supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
            <div class="categories">
              <div class="badge">
                <div class="badge-base">
                  <div class="text">Projeto</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="navbar">
      <div class="frame-1000000809">
        <img class="bras-o-da-uneb-12" src="bras-o-da-uneb-11.png" />
      </div>
      <div class="menu">
        <div class="search-bar">
          <div class="state-layer">
            <div class="leading-icon">
              <div class="container4">
                <div class="state-layer2">
                  <img class="icon" src="icon0.svg" />
                </div>
              </div>
            </div>
            <div class="content5">
              <div class="supporting-text2">Buscar</div>
            </div>
            <div class="trailing-elements">
              <div class="_1st-trailing-icon">
                <div class="container4">
                  <div class="state-layer2">
                    <img class="icon2" src="icon1.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog">
          <div class="not-cias">Notícias</div>
        </div>
        <div class="about">
          <div class="frame-1000000805">
            <div class="eventos">Eventos</div>
          </div>
        </div>
        <div class="projects">
          <div class="frame-1000000804">
            <div class="projetos">Projetos</div>
          </div>
        </div>
        <div class="newsletter">
          <div class="login">Login</div>
          <img class="person" src="person0.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
